papers
.R*
report/_minted-report/
report/presentation.aux
report/presentation.log
report/presentation.nav
report/presentation.out
report/presentation.pdf
report/presentation.snm
report/presentation.toc
report/presentation.vrb
report/report.aux
report/report.bbl
report/report.blg
report/report.fdb_latexmk
report/report.fls
report/report.log
report/report.out
report/reportNotes.bib
*chunks

