expression-matrix-file:     data/healthy.csv
sep:                        ,
gene-sets-file:             data/go-gene-sets-symbol.csv
sep:                        ,
output-file:                data/results.csv
sep:                        ,
threads-used:               0
normalized-data:            1
ioutput:                    50
scrna:                      1
batch-size:                 50
