expression-matrix-file:     data/GSE121212_psoriasis.csv
sep:                        t
gene-sets-file:             data/go-gene-sets.csv
sep:                        ,
output-file:                data/results.csv
sep:                        ,
threads-used:               8
normalized-data:            0
ioutput:                    50
scrna:                      0
